.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 60rem;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

input {
  width: 10rem;
  height: 2rem;
  font-size: 12px;
}

.modalButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.shipmentButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modalForm {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 40rem;
  padding: 4rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.body {
  margin-left: 3rem;
}

.horizontalDiv {
  display: inline;
}
