.login {
  background-color: #282c34;

  h2 {
    color: white;
  }

  button {
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    color: black;
  }

  &-header {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    &-wrapper {
      text-align: center;

      h1.ant-typography {
        color: white;
      }
    }
  }

  &-footer {
    color: white;
    padding: 16px 0;
    text-align: center;

    a {
      color: inherit;
    }
  }
}
